<%= javascript_pack_tag 'index' %>

<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<div id="tweets" data="<%= @tweets.to_json %>"></div>

<div id="welcome">{{ tweets }}</div>
