// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
}

.img-mirror {
  transform: scale(-1, 1);
}

.wrapper {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  background-image: image-url('cupid.svg');
  background-size: 50px;
  position: relative;
  padding: 50px;

  .inner-wrapper {
    background-color: white;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.content {
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  .yay {
    display: inline-block;
    background-color: #ABEBC6;
    padding: 10px;
    border-radius: 5px;
  }
  .nay {
    display: inline-block;
    color: #ff9999;
  }
}

button, input[type=submit] {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  height: 30px;
  margin: 20px 0;
  background-color: #ABEBC6;
  box-shadow: 3px 3px #7DCEA0;

  &.negative {
    background-color: #ff9999;
    box-shadow: 3px 3px #dd7373;
    height: 20px;
  }

  &:active {
    transform: translate(3px, 3px);
    box-shadow: none;
    border: none;
  }

  &:focus {
    outline: none;
  }
}